
.messaging-wrapper {
  background: #f3f2ef;
  height: 100vh;
  padding: 20px 0;
}

.messaging-main {
  max-width: 1100px;
  height: 85vh;
  margin: auto;

  display: flex;
  gap: 20px;
}

.messaging-container {
  flex: 1;
  display: grid;
  grid-template-columns: 280px 1fr;
  background: white;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  min-height: 0;
}

.right-panel {
  width: 300px;
}

.job-banner {
  border-radius: 10px !important;
  padding: 16px;
  background: #0a2c4a !important;
  color: white !important;
  position: sticky; 
  top: 10px;
}

.job-banner-top {
  font-weight: 600 !important;
  margin-bottom: 8px !important;
}

.job-banner-top span {
  background: #0a66c2;
  padding: 2px 4px;
  border-radius: 3px;
}

.job-banner-title {
  font-size: 18px !important;
  font-weight: 600 !important;
  margin-bottom: 10px !important;
}

.explore-btn {
  border-radius: 20px !important;
  text-transform: none !important;
  background: #0a66c2 !important;
}

.job-banner-image {
  margin-top: 12px;
  border-radius: 8px;
  overflow: hidden;
}

.job-banner-image img {
  width: 100%;
  display: block;
  object-fit: cover;
}